<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<link href="http://js-grid.com/css/jsgrid.min.css" rel="stylesheet">
<link href="http://js-grid.com/css/jsgrid-theme.min.css" rel="stylesheet">  

<style>
html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Verdana, Georgia;
}
</style>
</head>
<body>
<h1>User Management Homepage</h1>

<div id="jsGrid"></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
</script>

<script src="http://js-grid.com/js/jsgrid.min.js"></script>

<script>

	$(document).ready(function() {
		
	    $.ajax({
	        type: "GET",
	        url: "/api/users"
	    }).done(function () {

	        $("#jsGrid").jsGrid({
	            height: "60%",
	            width: "50%",
	            inserting: true,
	            editing: true,
	            sorting: true,
	            paging: true,
	            autoload: true,
	            pageSize: 10,
	            controller: {
	                loadData: function (filter) {
	                    return $.ajax({
	                        type: "GET",
	                        url: "/api/users",
	                        data: filter
	                    });
	                },
	                insertItem: function (item) {
	                	
	                	console.log(item);
	                	
	                	delete item.id;
	                	
	                    return $.ajax({
	                        type: "POST",
	                        url: "/api/users",
	                        data: JSON.stringify(item), 
	                        dataType: "json", 
	                        contentType:"application/json"
	                        
	                    });
	                },
	                updateItem: function (item) {
	                	
	                	console.log(item);
	                	
	                    return $.ajax({
	                        type: "PUT",
	                        url:"/api/users/" + item.id,
	                        data: JSON.stringify(item), 
	                        dataType: "json", 
	                        contentType:"application/json"
	                    });
	                },
	                deleteItem: function (item) {
	                    return $.ajax({
	                        type: "DELETE",
	                        url: "/api/users/" + item.id,
	                        data: item
	                    });
	                }
	            },
	            fields: [
	                {name: "id", title: "Id", type: "text", width: 10},
	                {name: "name", title: "Name", type: "text",  width: 30},
	                {name: "email", title: "Email", type: "text",  width: 30},
	                {name: "active", title: "Active", type: "text",  width: 30},
	                {type: "control"}
	            ]
	        });
	    });
	});	

</script>

</body>
</html>